/* global css start */
html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* h1, h2, h3, h4, h5, h6, p { */
/*     display: inline; */
/*     font-size: 100%; */
/*     font-weight: normal; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

a, a:active, a:focus {
    outline: none;
}

a, a:link {
    text-decoration: none !important;
}

ul {
    //list-style-type: none;
    padding: 0;
}

.fit-center {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.hide {
    display: none !important;
}

.alert {
    text-align: center;
}

.js-fouc {
    opacity: 0;
}

.browsehappy {
    z-index: 102;
}

.suboptimal {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    text-align: center;
    font-weight: 900;
    font-size: 105%;
    color: white;
    background-color: #ae0000;
    padding: 5px 0;
}

.suboptimal a,
.suboptimal a:hover,
.suboptimal a:active,
.suboptimal a:visited {
    color: yellow;
    text-decoration: underline !important;
}
/* global css end */

/* jquery slick start */
.slick-list, .slick-track {
   overflow: hidden;
}

.slick-prev {
    //padding-left: 20px; chrome;
    padding-left: 30px;
    opacity: 0.3;
    color: grey;
}

.slick-next {
    padding-right: 40px;
    opacity: 0.3;
    color: grey;
}

.slick-prev:before, .slick-next:before {
    color: grey;
}

.slick-dots li button:before {
    color: white;
    //opacity: 0.3;
    font-size: 20px;
}

.slick-dots li.slick-active button:before {
    color: white;
    //opacity: 0.7;
    font-size: 20px;
}
/* jquery slick end */


.main-carousel,
.main-carousel .slick-list,
.main-carousel .slick-track,
.main-slide .vjs-tech,
.main-slide .vjs-poster,
.main-slide-bg {
    height: inherit;
    width: inherit;
}

.main-carousel .slick-dots {
    bottom: 8%;
    left: 8%;
    text-align: left;
    width: 50%;
}

.video-control {
    color: #bdc3c7;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.placeholder {
    height: 200px;
}



/* tablets */
@media (min-width : 768px) {

}


/* medium desktops */
@media (min-width : 992px) {

}


/* large desktops */
@media (min-width : 1200px) {

}
