{% extends "layout.html" %}

{%- block content %}
        <div class="main-carousel">
        {%- for slide in c_page.main_carousel %}
            <div class="main-slide" data-bg-type="{{ slide.background.type }}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 main-slide-cont">
                            <div>
                                <div class="main-slide-title">{{ slide.title }}</div>
                                <div class="main-slide-desc">{{ slide.text }}</div>
                                <a class="btn btn-lg btn-primary main-slide-action" href="{{ slide.action.url }}">{{ slide.action.text.replace(' ', '&nbsp;')|safe }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-wr">
                {%- if slide.background.type == 'video' %}
                    <video class="video-js vjs-default-skin"
                    loop muted preload="auto" width="auto" height="auto"
                    poster="{{ url_for('static', filename=slide.background.media.image) }}"
                    data-setup='{}'>
                    <source src="{{ url_for('static', filename=slide.background.media.mp4) }}" type="video/mp4">
                    <source src="{{ url_for('static', filename=slide.background.media.webm) }}" type="video/webm">
                    <source src="{{ url_for('static', filename=slide.background.media.ogv) }}" type="video/ogg">
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    </video>
                    <i class="fa video-control"></i>
                {%- else -%}
                    <img class="main-slide-bg" src="{{ url_for('static', filename=slide.background.media.image) }}" alt="">
                {%- endif -%}
                </div>
                <div class="main-slide-tint"></div>
            </div>
        {% endfor %}
        </div>
        <div class="placeholder">
        </div>

{%- endblock content %}
